
<div class="feedback">
  <div class="feedback__window window">
    <div class="window__title">Сообщение отправлено</div>
    <div class="window__questionnaire questionnaire">
      <div class="questionnaire__question">Ваше имя:</div>
      <div class="questionnaire__text">{{contact.contactName}}</div>

      <div class="questionnaire__question">Ваш Email:</div>
      <div class="questionnaire__text">{{contact.contactEmail}}</div>

      <div class="questionnaire__question">Ваш телефон:</div>
      <div class="questionnaire__text">{{contact.contactPhone}}</div>

      <div class="questionnaire__question">Тема:</div>
      <div class="questionnaire__text">{{topic.topicName}}</div>

      <div class="questionnaire__question">Ваше сообщение:</div>
      <div class="questionnaire__text">{{message.messageText}}</div>


    </div>
  </div>
</div>

